################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MyPrj/bin/Debug/Content/指标/~$指标分类.xlsx
/MyPrj/bin/Debug/Content/指标/~$关联关系.xlsx
